h1  {
    color: green
}

.scoretable {
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: yellow;
}
button {
    width: 120px;
    height: 50px;
    border-radius: 12px;
}
.column {
    border: solid black;
    height: 100%;
}

.modaladdround {
}

body {
}

p {
     color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: right;
}
table tr:nth-last-child(1) {
    background-color: #ccc;
}
table tr:nth-child(1) {
    background-color: #cc0;
    text-align: center;
}
table td:nth-child(1) {0;
    text-align: center;
}
